{% extends 'master.html' %}

{% block title %}
About - Blog of James Squires
{% endblock %}

{% block contents %}
<h3>About Me</h3>
<div class="six columns">
<p>
	<script type="text/javascript">
	//<![CDATA[
	<!--
	var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
	"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
	" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!05{)rt{y+xx=l;=+;" +
	"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
	"\"(5),5\\\"\\\\26\\\\04\\\\03\\\\\\\\20\\\\03\\\\00\\\\\\\\13\\\\06\\\\02\\" +
	"\\\\\\tF\\\\\\\\31\\\\0I\\\\AL17\\\\0S\\\\lzitijk4{r~twS.|R-c`$hmzouup/per2" +
	"3\\\\04\\\\03\\\\\\\\26\\\\0;\\\\37\\\\04\\\\02\\\\\\\\+Z0K02\\\\\\\\30\\\\" +
	"07\\\\00\\\\\\\\33\\\\05\\\\00\\\\\\\\MP0200\\\\\\\\03\\\\00\\\\01\\\\\\\\2" +
	"D03\\\\\\\\\\\\r5\\\\02\\\\\\\\17\\\\00\\\\02\\\\\\\\25\\\\00\\\\02\\\\\\\\" +
	"2O02\\\\\\\\05\\\\02\\\\7?34\\\\0>\\\\c7#7<:>5rp\\\\\\\\)m?+k$u+oj)(7!3+170" +
	"2\\\\\\\\SJVYZOSW\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.f" +
	"ngriSt+=;o27=1y%){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f" +
	"(n ioctun\\\"f)\")"                                                          ;
	while(x=eval(x));
	//-->
	//]]>
	</script>
</p><p><a href="http://s136.photobucket.com/albums/q191/jamessqr/Blog/?action=view&amp;current=james-2012.jpg" target="_blank"><img src="http://i136.photobucket.com/albums/q191/jamessqr/Blog/james-2012.jpg" border="0" alt="James Squires"></a></p>
</div>
<div class="four columns">
<p>I grew up in south central Wisconsin and was fortunate to be raised with the outdoors.  I consider myself a very accomplished bowhunter (whitetails), novice fly fisherman, and generally get addicted very easily to anything to do with hunting or the outdoors.</p>
<p>I work in technology, however rarely find myself writing code these days, so this blog is somewhat of an outlet for that. There are probably bugs and features yet to be implemented, I'll get around to it eventually.  If you find an issue, feel free to email me.</p>
</div>
{% endblock %}