{% extends 'master.html' %}

{% block title %}
Blog of James Squires
{% endblock %}

{% block contents %}
<h3>Post Title</h3>
<p>Blog post contents here</p>
<ul class="square">
	<li><strong>A Responsive Grid Down To Mobile</strong>: Elegant scaling from a browser to tablets to mobile.</li>
	<li><strong>Fast to Start</strong>: It's a tool for rapid development with best practices</li>
	<li><strong>Style Agnostic</strong>: It provides the most basic, beautiful styles, but is meant to be overwritten.</li>
</ul>
{% endblock %}