<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>
	{% block title %}
	Page title
	{% endblock %}
	</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/james-squires.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>

	<div class="container">
		<div class="sixteen columns">
			<div style="text-align: center;"><img src="/images/logo.png" width="248" height="120" alt="Logo"></div>
			<h1 class="logo">James Squires</h1>
			<h5 style="text-align:center;margin-bottom: 20px;font-style: italic;">An outdoor journal</h5>
			<nav>
				<ul>
					<li><a href="/">Front Page</a></li>
					<li><a href="/about">About + Contact</a></li>
					<li><a href="/archive">Archives</a></li>
				</ul>
				<hr />
			</nav>			
		</div>		
		
		<div class="sixteen columns clearfix">
			<div class="eleven columns alpha">		
				{% block contents %}{% endblock %}
			</div>

			<div class="five columns omega">
				<h3>Subscribe</h3>
				<p><a href="http://www.twitter.com/jamessquires">Twitter</a></p>
				<h3>Selected Reading</h3>
				<ul class="square">
					<li><a href="http://lenharris.blogspot.com/">The Stream of Time</a></li>
					<li><a href="http://www.driftlessangler.com/fishing-reports">Driftless Angler - Fishing Reports</a></li>
					<li><a href="http://meanderingtrickle.blogspot.com/">Meandering Trickle</a></li>
				</ul>
			</div>
		</div>

	</div><!-- container -->



	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="javascripts/tabs.js"></script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31273906-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	<!-- Twitter -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- End Document
================================================== -->
</body>
</html>