[submodule "lib/django-nonrel"]
	path = lib/django-nonrel
	url = https://github.com/django-nonrel/django-nonrel.git
[submodule "lib/djangoappengine"]
	path = lib/djangoappengine
	url = https://github.com/django-nonrel/djangoappengine.git
[submodule "lib/djangotoolbox"]
	path = lib/djangotoolbox
	url = https://github.com/django-nonrel/djangotoolbox.git
[submodule "lib/django-dbindexer"]
	path = lib/django-dbindexer
	url = https://github.com/django-nonrel/django-dbindexer.git